@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

* {
    font-family: "Gotu", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: #fff;
    overflow-x: hidden;
    
}
html, body {
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parallax {
    background-image: url("./Assets/Home.png");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
}
#NameHeader {
    font-weight: bold;
    margin: -2rem;
}
#NameSubHeader {
    font-weight: lighter;
}
#WriteDiv {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    padding: 5rem;
    text-align: left;
}
#About{
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    background-color: #CAE9FF;
}
.pushLeft{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
#picThird {
    flex-basis: 100%;
}
#aboutPic {
    width:100%;
}
#headerThird {
    font-size: 3rem;
    font-weight: bold;
    flex-basis: 100%;
}
#headerThird > p {
    color: #1B4965;
}
#descThird {
    flex-basis: 100%;
    font-size: 2.5rem;
    color: #1B4965;
}
#Experience {
    height: fit-content;
}
#expTitle {
    height: 70vh;
    width: 95%;
    align-items: flex-end;
}
#expTitle > h2 {
    color: #BEE9E8;
}
#expDiv {
    width: 100%;
    background-color: #BEE9E8;
    justify-content: space-evenly;
}
.row { 
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-block: 2.5rem;
}

.row > img {
    height: 33vh;
    aspect-ratio: 1/1;
}
#BG {
    height: 70vh;
}
#Projects{
    background-color: #1B4965;
}
#projTitle {
    width: 95%;
    align-items: flex-end;
}

